.login {
    max-width: 300px;
    margin: 0px auto;
}
.login-btn {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    @include iphone6Plus() {
        display: block;
    }
}